<div id="<%= dom_id post %>" class="card mt-3 p-3">
  <p class="card-title">
    <strong >Post:#<%= post.id %></strong>
    <%= post.title %>
  </p>
  <p class="card-text">
    <%= post.text... %>
  </p>
  <span>Comments: <%= post.comments_count%>, Likes:  <%= post.likes_count%></span>
</div>
<div class="comments card mt-0">
  <% post.comments.order(:created_at).limit(5).each do |comment|%>
    <%= render comment %>
  <% end %>
</div>
