<div class="ms-5 col-sm-10 mt-3">
<div class="card p-3">
  <h4>
  Post#<%= @post.id%> by <%= @post.user.name%>
  </h4>
  <span>Comments: <%= @post.comments_count%>, Likes:  <%= @post.likes_count%></span>
  <p class="card-text">
  <%= @post.text %>
  </P>
  </div>
  <div class="card">
  <% @post.comments.order(created_at: :desc).each do |comment|%>
    <p><%= comment.user.name %></p>
    <%= comment.text %>
    <%= link_to "Delete this comment", user_post_path(comment.user.id) if can? :destroy, Comment, class:"btn btn-info"%>
  <% end%>
  </div>
</div>